<!-- Start nav -->
<nav class="navbar navbar-expand-lg sticky-top">
    <div class="container">
            <a class="navbar-brand" href="#" style="color: white;"><img src="/Images/logo.png" alt="" class="img-fluid"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#main"
            aria-controls="main"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fa-solid fa-bars" style="color: white;"></i>
            </button>
        <div class="collapse navbar-collapse" id="main">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link p-2 p-lg-3 active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-2 p-lg-3" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-2 p-lg-3" href="#">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-2 p-lg-3" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-2 p-lg-3" href="#">Contact</a>
                </li>
            </ul>
            <div class="search ps-3 pe-3 d-none d-lg-block">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <a href="#" class="rounded-pill main-btn">Login</a>
        </div>
    </div>
</nav>
<!-- End nav -->